// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$blue-gray: #2b2c4b;
$blue-purple-8: rgba(43, 44, 75, 0.8);


// Create grayscale
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;


// Reassign color vars to semantic color scheme
$brand-primary:             $blue-gray;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;


// Fonts


// Font weights

// Cards
$background: $blue;
$border: 0px;

$font-weight-bold: 900;

//nav
$navbar-padding-x: 10px;
$navbar-padding-y: 10px;

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: $navbar-padding-y $navbar-padding-x;
}

.fixed-top {
	background-color: rgba(43, 44, 75, 0.7);
}

.dropdown {
	display: right;
}


.navbar {
	width: 80vw;
	margin-bottom: 0px;
	border-radius: 0px;
	display: block;  
  margin-right: auto;  
  margin-left: auto;
 	color: $white;
 	// text-decoration-color: $white;

	
	a,
	a:link,
	a:active,
	a:visited {
		color: $white;
	}
}

.jumbotron h1 {
	color:$white;
	text-align: center;
}

.card-deck {
	width: 80vw;
	margin: auto;
	color: $white;
	margin-bottom: 5vh;
}

.card-img-top {
	margin: auto;
	margin-top: 25px;
}

.dropdown-menu .dropdown-item {
	background-color: rgba(43, 44, 75, 0.7);
}



